li {
    color: green;
}

.card-img-top { /* reference: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width/53252725 */
width: 100%;
height: 40vh;
object-fit: cover;
}

.card-img { /* reference: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width/53252725 */
width: 100%;
height: 100%;
}


/* scrollable div: https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp */
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
    display: inline-block;
}